@import url("https://fonts.googleapis.com/css?family=Poppins:wgth@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", "sans-serif";
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right,#2ed573,#f9ca24);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

form {
    background: #fff;
    padding: 30px 30px 30px 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 30px;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

p {
    text-align: center;
    font-size: 16px;
}

i {
    font-size: 70px;
    position: absolute;
    bottom: 600px;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
}

h1 {
    text-align: center;
    font-size: 28px;
    position: relative;
}