@import url("https://fonts.googleapis.com/css?family=Poppins:wgth@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", "sans-serif";
    box-sizing: border-box;
}

body {
    background: rgb(200, 200, 200);
    display: flex;
    width: 100%;
}

.section {
    width: 100%;
}

.section .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 0px 10px;
    border-bottom: 2px solid black;
}

.navigation .input-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
    
}

.input-box input {
    border: none;
    outline: none;
    border: 2px solid gray;
    border-radius: 30px;
    color:  black;
    padding: 10px 45px 10px 10px;
    font-size: 16px;
}

.input-box i {
    font-size: 20px;
    position: relative;
    right: 30px;
    top:  100%;

}

.profile i {
    position: relative;
    font-size: 25px;
    top: 100%;
    right: 25px;
    padding-left: 5px;
    padding-right: 5px;
}

.cim h2 {
    position: relative;
    right: 118px;
}

.values {
    padding: 30px 30px 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.values .val-box {
    background: #fff;
    width: 275px;
    padding: 16px 20px;
    border-radius: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.values .val-box i {
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background-color: chartreuse;
    margin-right: 15px;
}

.values .val-box:nth-child(1) i {
    background: chartreuse;
} .values .val-box:nth-child(2) i {
    background: lightblue;
} .values .val-box:nth-child(3) i {
    background: lightcoral;
} .values .val-box:nth-child(4) i {
    background: khaki;
}

.values .val-box h3 {
    font-size: 18px;
    font-weight: 600;
}

.values .val-box span {
    font-size: 15px;
    color: darkgrey;
}

.board {
    width: 96%;
    margin: 30px 0 30px 30px;
    overflow: auto !important;
    background: #fff;
    border-radius: 8px;
}

.board h5 {
    font-weight: 600;
    font-size: 16px;
}

.board h6 {
    font-size: 14px;
    color: rgb(200, 200, 200);
    font-weight: 300;
}

.board p {
    font-size: 14px;
    font-weight: 400;
}

thead td {
    font-size: 18px;
}

.board a {
    font-size: 14px;
    color: black;
    text-decoration: none;
}

.edit a:hover {
    color: blue;
    text-decoration: underline;
}

.board .people {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
}